---
export interface Props {
  link: string;
  title: string;
}
const { link, title } = Astro.props;
---

<a
  class="cursor-pointer flex-column items-center group text-base [text-shadow:_0px_0px_1px_rgb(255_255_255_/_60%)] hover:[text-shadow:_0px_0px_3px_rgb(255_255_255_/_90%)] md:tracking-widest relative"
  href={link}
>
  <div class="duration-500 md:px-6 pt-2 pb-1 lowercase group-hover:opacity-0">
    {title}
  </div>
  <div
    class="duration-500 md:px-6 pt-2 pb-1 text-white absolute opacity-0 group-hover:opacity-100 top-0 left-0"
  >
    {title}
  </div>
  <div
    class="duration-500 md:px-2 group-hover:px-0 opacity-0 group-hover:opacity-100"
  >
    <div
      class="duration-200 pb-3 -mt-1 md:border-b-2 border-t-0 border-transparent group-hover:border-white group-hover:border-opacity-70 group-hover:bg-gradient-to-t from-gray-600 group-hover:text-black"
    >
    </div>
  </div>
</a>
