---
import Title from "./title.astro";
export interface Props {
  link: string;
  title: string;
}
const { link, title } = Astro.props;
---

<a class="cursor-pointer flex-column items-center group text-base" href={link}>
  <div
    class="duration-500 transition-all tracking-tighter xs:tracking-normal pb-1 drop-shadow-glowS text-white relative"
  >
    <div class="duration-500 group-hover:opacity-0 lowercase">
      <Title>{title}</Title>
    </div>
    <div
      class="flex justify-center duration-500 opacity-0 group-hover:opacity-100 top-0 left-0 absolute w-full h-full"
    >
      <Title>{title}</Title>
    </div>
  </div>

  <div
    class="hidden sm:block duration-500 px-2 group-hover:px-0 opacity-0 group-hover:opacity-100"
  >
    <div
      class="transition-all duration-200 pb-3 -mt-1 xs:border-b-2 border-t-0 border-transparent group-hover:border-white group-hover:border-opacity-70 bg-gradient-to-t group-hover:from-gray-600 group-hover:text-black"
    >
    </div>
  </div>
</a>
<span
  class="border-r-[1px] border-opacity-50 border-white sm:hidden last:hidden"
></span>
