---
export interface Props {
  link: string;
  title: string;
}
const { link, title } = Astro.props;
---

<a
  class="cursor-pointer flex-column items-center group text-base font-light hover:font-normal tracking-widest relative"
  href={link}
>
  <div class="duration-500 px-6 pt-2 pb-1 lowercase group-hover:opacity-0">
    {title}
  </div>
  <div
    class="duration-500 px-6 pt-2 pb-1 text-white absolute opacity-0 group-hover:opacity-100 top-0 left-0"
  >
    {title}
  </div>
  <div
    class="duration-500 px-2 group-hover:px-0 opacity-0 group-hover:opacity-100"
  >
    <div
      class="duration-200 pb-3 -mt-1 border-y-2 lg:border-t-0 border-transparent group-hover:border-white group-hover:border-opacity-70 group-hover:bg-gradient-to-t from-gray-600 group-hover:text-black"
    >
    </div>
  </div>
</a>
