---
import Entry from "./entry.astro";
export interface Entry {
  link: string;
  title: string;
}
export interface Props {
  links: Entry[];
}
const { links } = Astro.props;
---

<div class="flex flex-row max-w-[640px] w-full justify-between px-4 xs:px-8">
  {links.map((link) => <Entry {...link} />)}
</div>
