---
import Entry from "./entry.astro";
export interface Entry {
  link: string;
  title: string;
}
export interface Props {
  links: Entry[];
}
const { links } = Astro.props;
---

<div class="flex flex-row w-full md:w-[640px] justify-between md:gap-x-8 px-2">
  {links.map((link) => <Entry {...link} />)}
</div>
