---
import Layout from "../layouts/default.astro";
---

<Layout title="Kilian Gosewisch" seoDesc="Who is Kilian Gosewisch?">
  <div
    class="font-[MajorMono] flex flex-col items-center lowercase gap-4 text-gray-300"
  >
    <div
      class="font-bold text-6xl [text-shadow:_0px_0px_10px_rgb(255_255_255_/_60%)]"
    >
      Kilian Gosewisch
    </div>
    <div class="text-justify">Engineering code with passion</div>
  </div>
</Layout>
