---
import Layout from "../layouts/default.astro";
---

<Layout title="Kilian Gosewisch" seoDesc="Who is Kilian Gosewisch?">
  <div class="font-mono justify-center h-full lowercase gap-4 text-gray-300">
    <div
      class="font-bold text-4xl sm:text-5xl md:text-6xl glow-heavy text-center"
    >
      Kilian Gosewisch
    </div>
    <div class="text-center">Engineering code with passion</div>
  </div>
</Layout>
