---
import Layout from "../layouts/default.astro";
---

<Layout title="Kilian Gosewisch" seoDesc="Welcome to my site?">
  <div class="font-mono lowercase">
    <div
      class="font-bold text-3xl sm:text-5xl md:text-6xl drop-shadow-glowL text-center px-4"
    >
      Kilian Gosewisch
    </div>
    <div
      class="w-full border-b-2 border-white pt-3 mt-1 border-opacity-50 from-zinc-800 to-primary bg-gradient-to-t"
    >
    </div>
    <div class="w-full pb-4 from-dark to-primary bg-gradient-to-b"></div>
    <div class="text-center">Engineering code with passion</div>
  </div>
</Layout>
