---
import HeaderMenu, { Props as MenuProps } from "./menu/index.astro";
export interface Props {
  menu: MenuProps;
}
const { menu } = Astro.props;
---

<div
  class="fixed top-0 left-0 w-full flex justify-center pt-24 pb-12 md:mb-0 bg-gradient-to-b from-[#070707] via-primary to-opacity"
>
  <HeaderMenu {...menu} />
</div>
