---
import { Icon } from "astro-icon";
export interface Props {
  icon: string;
}
const { icon, flip } = Astro.props;
---

<div class="group font-sans text-justify leading-6">
  <Icon
    name={icon}
    class={`group-odd:float-left group-odd:mr-6 group-even:float-right group-even:ml-6 mb-1 w-20 fill-white stroke-white drop-shadow-glowM`}
  />
  <p><slot /></p>
</div>
