---
import Entry from "./entry.astro";
import Email from "../email.astro";
export interface Props {
  entries: Array<{ target: string; text: string }>;
}
const { entries } = Astro.props;
---

<div class="flex flex-col justify-center items-center">
  <div
    class="flex flex-col border-y-2 border-gray-300 justify-center items-center text-xl font-extralight space-y-2 text-gray-600 p-8 text-center"
  >
  </div>
</div>
<div class="flex flex-col lg:flex-row justify-center items-center py-4">
  {entries.map((entry) => <Entry target={entry.target}>{entry.text}</Entry>)}
</div>
