---
import Entry from "./entry.astro";
export interface Entry {
  link: string;
  title: string;
}
export interface Props {
  links: Entry[];
}
const { links } = Astro.props;
---

<div
  class="flex flex-col gap-y-2 m-2 justify-between h-fit rounded-full hover:bg-red-200 duration-200 hover:shadow-sm p-2"
>
  <label for="burger" class="cursor-pointer">
    <input type="checkbox" id="burger" name="burger" class="peer hidden" />
    {[1, 2, 3].map(() => <div class="h-1 m-2 bg-primary w-8" />)}
    <div
      class="fixed border-l-4 border-primary flex flex-col gap-0.5 top-20 bottom-0 left-full peer-checked:left-16 -right-full peer-checked:right-0 duration-200 bg-gray-200"
    >
      {
        [
          ...links,
          { title: "Anfahrt", link: "/directions" },
          {
            title: "Datenschutzerklärung",
            link: "/assets/datenschutzerklaerung.pdf",
          },
          { title: "Impressum", link: "/imprint" },
        ].map((link) => <Entry {...link} />)
      }
    </div>
  </label>
</div>
