@config "../tailwind.config.cjs";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("/fonts/nunito.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "MajorMono";
  font-display: swap;
  src: url("/fonts/majormono.ttf") format("truetype");
  font-weight: 100 900;
}

@layer base {
  html {
    @apply font-sans;
    /* background-color: #111111; */
    @apply bg-primary;
    @apply text-white text-opacity-70 text-2xl drop-shadow-glowS font-extralight;
  }
  body {
    @apply bg-primary;
  }

  code {
    font-family: monospace;
  }
  h1 {
    @apply text-2xl font-normal;
    @apply pb-5;
  }
  a {
    @apply text-white text-opacity-90 underline;
  }
  p {
    @apply leading-relaxed;
    @apply pb-5;
  }
  * {
    text-shadow: 0px 0px 3px rgb(255 255 255 / 50%);
  }
}
