---
import Header from "../components/header/index.astro";
import "../styles.css";
export interface Props {
  title: string;
  seoDesc: string;
}

const { title, subTitle, imageURL, seoDesc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={seoDesc} />
    <title>Kilian Gosewisch</title>
  </head>
  <body
    class="relative pt-20 sm:pt-32 h-full flex justify-center overflow-scroll"
  >
    <Header
      menu={{
        links: [
          { link: "/", title: "Home" },
          { link: "/skills", title: "My skills" },
          { link: "/about", title: "About me" },
        ],
      }}
    />
    <div
      class="flex flex-col mt-auto mb-auto align-middle justify-center min-h-full lg:max-w-5xl gap-16 lg:gap-32 py-16 px-8 md:px-4"
    >
      <slot />
    </div>
  </body>
</html>
